<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    {{ nick_name|json_script:"nick-name"}}
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}

    <input id="room_url" type="hidden" type="text" />
    <input id="share-chat-room" type="button" value="share chat" />
    <script>
      const roomName = JSON.parse(
        document.getElementById('room-name').textContent
      );
      const nickName = JSON.parse(
        document.getElementById('nick-name').textContent
      );
      const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
      );

      // Define the extra data you want to send
      const extraData = {
        type: 'join',
        sent_by: nickName,
      };

      // Add an event listener for when the WebSocket connection is opened
      chatSocket.addEventListener('open', (event) => {
        // Convert the extra data to a JSON string and send it
        chatSocket.send(JSON.stringify(extraData));
      });

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.sent_by == undefined) {
          document.querySelector('#chat-log').value += data.message + '\n';
        } else {
          document.querySelector('#chat-log').value +=
            data.sent_by + ': ' + data.message + '\n';
        }
      };

      chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.key === 'Enter') {
          // enter, return
          document.querySelector('#chat-message-submit').click();
        }
      };

      document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
            sent_by: nickName,
          })
        );
        messageInputDom.value = '';
      };

      document
        .getElementById('share-chat-room')
        .addEventListener('click', function () {
          const url = window.location.href;
          const dummy = document.getElementById('room_url');
          dummy.value = url;
          dummy.select();
          document.execCommand('copy');
          alert('Copied the text: ' + url);
        });
    </script>
  </body>
</html>
